
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="https://kit.fontawesome.com/74b80dc0de.js" crossorigin="anonymous"></script>
    <title>Modificar datos del empleado</title>
</head>
<body>
    <style>
        .Img {
            position: relative;
            left: 900px;
        }
        .Delete{
            position:relative;
            bottom:500px;
        }
        h2{
            position:relative;
            bottom:530px;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
    </style>
    <div class="Img">
        <img src="~/Content/Img/sitting-pet-dog-cat-puppy-dogs-clipart-dog-1125115.png" width="400" />
    </div>
    <div class="container">
        <h2 class="text-center">Eliminar datos del empleado</h2>
        <br />
        <div class="Delete">
            <p>Id: <input type="text" /></p>
            <br />
            <input type="submit" class="btn btn-dark" value="Eliminar empleado" />
        </div>
    </div>
</body>
</html>
