
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="https://kit.fontawesome.com/74b80dc0de.js" crossorigin="anonymous"></script>

    <title>Principal</title>
</head>
<body>
    <style>
        h2{
            position:relative;
            bottom:270px;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        h1{
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            position:relative;
            bottom:400px;
        }
        .salir{
            position:relative;
            left:1200px;
            bottom:450px;
        }
        .Form_Cita{
            position:relative;
            left:240px;
            bottom:400px;
        }
    </style>
    <div class="Img">
        <img src="~/Content/Img/sitting-pet-dog-cat-puppy-dogs-clipart-dog-1125115.png" width="300" />
    </div>
    <h1 class="text-primary text-center">Bienvenido a la clinica veterinaria</h1>
    <div class="salir">
        <button class="btn btn-block btn-dark" type="button">Salir</button>
    </div>
    <div class="Form_Cita">
        <div class="container">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Nombre Completo</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Email</label>
                        <input type="email" class="form-control" required>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputAddress">Cita Medica</label>
                    <input type="text" class="form-control"placeholder="¿Que desea de la cita medica?">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputCity">Fecha en que desea la cita medica</label>
                        <input type="text" class="form-control"placeholder="Ingrese la fecha">
                    </div>
                </div>
                <br />
                <button type="submit" class="btn btn-primary">Realizar Cita <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cursor-fill" viewBox="0 0 16 16">
    <path d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103z" />
</svg></button>
                <button type="button" class="btn btn-block btn-success">Ir al menu principal <i class="fa-solid fa-house-user"></i></button>
            </form>
        </div>
    </div>
</body>
</html>
