
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="https://kit.fontawesome.com/74b80dc0de.js" crossorigin="anonymous"></script>
    <title>Principal</title>
</head>
<body>
    <style>
        h1{
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            position:relative;
            bottom:400px;
        }
    </style>
    <div class="Img">
        <img src="~/Content/Img/sitting-pet-dog-cat-puppy-dogs-clipart-dog-1125115.png" width="300" />
    </div>
    <h1 class="text-primary text-center">Bienvenido a la clinica veterinaria</h1>
    <div class="salir">

    </div>
</body>
</html>
