
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet"type="text/css" />
    <title>Iniciar Sesion</title>
</head>
<body>
    <div class="Login_User">
        <div class="row">
            <form action="" method="post">
                <p class="text-primary">Usuario: <input type="text" name="" /></p>
                <p class="text-primary">Contraseña: <input type="text" name="" /></p>
                <div class="row">
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-success">Acceder</button>
                    </div>
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-light">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
